.containerDoneRecipes {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
    margin-bottom: 50px;
    border: solid black 1px;
}

.containerDoneRecipes h1 {
  margin: 0;
}


.containerTopText {
    padding: 1px;
}


.containerTopText p {
    margin: 1px;
}

.linkDoneRecipes {
    text-decoration: none;
    color: black;
}

.linkDoneRecipes img {
    width: 358px;
    height: 300px;
}

.removeButton {
    background-color:  rgb(184, 182, 182) ;
    color: black;
    border: none;
    height: 30px;
}


