.containerButtons {
    display: flex;
    height: 70px; 
    padding: 2px;
    padding-bottom: 30px;
    background-color: rgb(184, 182, 182) ;
}

.favoriteButton {
    width: 50%;
    border: none;
    border-right: solid 2px rgb(184, 182, 182) ;
}

.favoriteButton img {
    width: 40px;
}

.shareButton {
    display: flex;
    width: 50%;
    border: none;
} 

.shareButton span {
    display: flex;
    align-items: center;
}