.containerButtons {
    display: flex;
    height: 40px; 
}

.favoriteButton {
    width: 50%;
    border: none;
    background-color: rgb(184, 182, 182) ;
    padding: 1px;
}

.shareButton {
    display: flex;
    width: 50%;
    border: none;
    background-color: rgb(184, 182, 182) ;
    padding: 1px;
} 

.shareButton span {
    display: flex;
    align-items: center;
}