.ContainerFilterMealOrDrink {
    display: flex;
    height: auto;
    padding: 10px 3px;
    border-bottom: 1px dotted black;
    border-top: 1px dotted black;
    margin: 10px 0;
    gap: 5px;
}

.ContainerFilterMealOrDrink button {
    background-color: rgb(184, 182, 182);
    border-radius: 7px;
    border: none;
}

