.containerRecipes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 1400px;
}

.containerButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-bottom: 1px dotted black;
  height: 120px;
  padding: 10px 3px;
  margin-bottom: 0;
}

.containerButtons h3 {
  font-weight: bold;
  font-size: 21px;
}

.containerCategories {
  display: flex;
  gap: 5px;
}

.containerButtons button {
  background-color: rgb(184, 182, 182);
  border-radius: 7px;
  border: none;
}

.btnAllCategories {
  font-size: 18px;
  margin-top: 3px;
}

.containerButtons button:active {
  background-color:  #00b279;
  color: white;
 }


