.carouselContainer {
    width: 100%;
    height: 170px;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 10px;
}

.carouselItem {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50%;   
    text-align: center;
    height: 145px;
}

.recommendationCard {
    width: 110px;
    height: 135px;
    border: solid 1px black;
}

.recommendationCard p {
    height: 10px;
}

.recommendationImg {
    height: auto;
}

.linkStyles {
    width: 110px;
    height: 130px;
    text-decoration: none;
    color: black;
}
