/* body {
  margin-bottom: 30px;
}

.footer {
  background-color: #464646;
  border-top: 3px solid rgb(38, 38, 38);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  padding: 15px;
  position: fixed;
  right: 0;
}

.quad {
  border: 1px solid;
  display: inline-block;
  height: 100px;
  margin-left: 0.5rem;
  margin-top: 20px;
  width: 50%;
}

.scroll {
  border: 1px solid #ccc;
  height: 150px;
  margin: auto;
  max-width: 720px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 5px;
  white-space: nowrap;
}

.start-button {
  background-color: #0145ac;
  bottom: 0;
  color: #ccc;
  height: 30px;
  position: fixed;
  width: 100%;
}

.completed {
  text-decoration: line-through solid rgb(0, 0, 0);
} */
